* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(38deg, rgba(131, 58, 180, 0.8) 0%, rgba(253, 29, 29, 0.8) 50%, rgba(252, 176, 69, 0.8) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    flex-direction: column;

}

.player-container {
    position: relative;
    width: 900px;


}

.player-container h1 {
    font-size: 1rem;
}

.player-container video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.player-container .controls-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 20px;

    z-index: 1;
    padding: 20px;


}

.player-container:hover .controls-overlay {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.9) 100%);
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-direction: column;

}

.player-container .controls-overlay .controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-container .controls-overlay .controls button {
    cursor: pointer;
    padding: 10px 20px;
    background: none;
    outline: none;
    border: none;
}

.player-container .controls-overlay .controls button img {
    width: 25px;
    transition: scale 0.2s ease;
}

.player-container .controls-overlay .controls button:hover img {
    scale: 1.2;
}